

<div class="container row">
      <div class="col-md-12">
          <h1>Upload Image</h1>
      </div>
  </div>
  <div class="container row">
      <div class="col-md-6">
          <input type="file" (change)="onFileChanged($event)">
          
      </div>
      <div class="col-md-6">
        <input type="text" class="form-control" id="imageDesc" placeholder="file description" [(ngModel)]="imageDesc"
            name="imageDesc" />
    </div>
      <div class="col-md-6">
          <input type="button" (click)="onUpload()" value="Submit image">
      </div>
  </div>
  <hr />
  <div class="container row">
      <div class="col-md-12">
        <input [(ngModel)]="message" placeholder="Response"/>
          <div *ngIf=message>
        </div>
      </div>
  </div>




<router-outlet></router-outlet>